* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    width: 100px;
}

.calendar {
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* .calendar--header {
    margin: 30px;
} */

#locale-sel {
    margin-top: 30px;
}

li.holiday {
    color: red;
}

.month,
.month-list {
    text-transform: capitalize;
}

.month-list {
    margin: 30px 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-gap: 1px; */
}

.w0:first-child {
    grid-column: 1;
}

.w1:first-child {
    grid-column: 2;
}

.w2:first-child {
    grid-column: 3;
}

.w3:first-child {
    grid-column: 4;
}

.w4:first-child {
    grid-column: 5;
}

.w5:first-child {
    grid-column: 6;
}

.w6:first-child {
    grid-column: 7;
}

.w0 {
    color: red;
}

.month-list li {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
