* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Relaway", sans-serif;
    background: linear-gradient(to right, #fdfbfb, #bcccdc 70%);
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    margin: 30px;
    width: 50px;
}

.button a {
    text-decoration: none;
    color: #000;
}

.button img {
    vertical-align: middle;
}

.calendar {
    width: 490px;
    height: 460px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #fff;
    border: 2px solid #bcccdc;
    border-radius: 8px;
}

.calendar--header {
    position: relative;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#locale-sel {
    margin-top: 30px;
    position: absolute;
    top: 40px;
    /* right: 50%; */
    width: 90px;
    height: 30px;
    padding: 0 10px;
    font-size: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
}

li.holiday {
    color: red;
}

.month {
    width: 210px;
    font-size: 20px;
}

.month,
.month-list {
    text-transform: capitalize;
}

/* Grid */
.month-list,
.weeks-label {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
}
.weeks-label {
    margin: 30px 0 15px;
    text-transform: capitalize;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.weeks-label li:first-child {
    color: red;
}

.w0:first-child {
    grid-column: 1;
}

.w1:first-child {
    grid-column: 2;
}

.w2:first-child {
    grid-column: 3;
}

.w3:first-child {
    grid-column: 4;
}

.w4:first-child {
    grid-column: 5;
}

.w5:first-child {
    grid-column: 6;
}

.w6:first-child {
    grid-column: 7;
}

.w0 {
    color: red;
}

.month-list li,
.weeks-label li {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* border: 1px solid #000; */
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: default;
    transition: background-color 0.3s ease-in-out;
    border-radius: 50%;
}

.day-d {
    font-size: 20px;
    flex-grow: 1;
}

.holy-d {
    font-size: 10px;
}

/* .day:hover {
    background-color: #00b7ff63;
} */
